<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- style fragment -->
    <th:block th:replace="~{fragments/fragments :: style}"/> 
</head>
<body style="height: 100vh;">
    <!-- header fragment-->
    <th:block th:replace="~{fragments/fragments :: header}"/>

    <main class="container m-auto" style="overflow-y: auto;">
        <!-- if film exist -->
        <div class="row d-flex justify-content-start" th:if="${film.size()>0}">
            <div class="col-3 text-center d-flex justify-content-center" th:each="film : ${film}" th:object="${film}">
                <!-- card -->
                <div class="card mb-5" style="width: 15rem;">
                    <img th:src="*{image}" class="card-img-top" alt="..." style="height: 22rem; object-fit: cover;">
                    <div class="card-body">
                      <h5 class="card-title" th:text="*{title}"></h5>
                      <p th:text="*{description}" style="height: 5rem;"></p>
                      <a href="#" class="btn btn-primary">More details</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- if film doesn't exist -->
        <div th:unless="${film.size()>0}" th:text="Non ci sono film"></div>
    </main>

    <!-- footer fragment-->
    <th:block th:replace="~{fragments/fragments :: footer}"/>
</body>
</html>