<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <!-- style fragment -->
    <th:block th:replace="~{fragments/fragments :: style}"/> 
</head>
<body>
    <!-- header fragment-->
    <th:block th:replace="~{fragments/fragments :: header}"/>

    <main class="container m-auto" style="overflow-y: auto;">
        <!-- create -->
        <div class="border border-tertiary rounded shadow p-3 bg-body-tertiary rounded d-flex justify-content-between p-3 mb-3 m-auto" style="width: 50%;">
            <h3>Add a new film!</h3>
            <!-- button fragment -->
            <div th:insert="~{fragments/fragments :: button('/film/create', 'Add')}" class="text-center"></div>
        </div>
        
        <!-- if film exist -->
        <div class="row d-flex justify-content-start" th:if="${film.size()>0}">
            <div class="col-3 text-center d-flex justify-content-center" th:each="film : ${film}" th:object="${film}">
                <!-- card -->
                <div class="card mt-5" style="width: 15rem;">
                    <img th:src="*{image}" class="card-img-top" alt="..." style="height: 22rem; object-fit: cover;">
                    <div class="card-body">
                        <h5 class="card-title" th:text="*{title}"></h5>
                        <p th:text="*{description}" style="height: 5rem;"></p>
                        <div class="d-flex justify-content-center gap-3">
                            <!-- show -->
                            <a th:href="@{/film/{id}(id=*{id})}" class="btn btn-sm btn-primary">Details</a>
                            <!-- update -->
                            <a th:href="@{/film/edit/{id}(id=*{id})}" class="btn btn-sm btn-warning">Edit</a>
                            <!-- delete -->
                            <form th:action="@{/film/delete/{id}(id=*{id})}" method="post">
                                <button type="submit" class="btn btn-sm btn-outline-danger">Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- if film doesn't exist -->
        <div th:unless="${film.size()>0}" th:text="There aren't film"></div>
    </main>

    <!-- footer fragment-->
    <th:block th:replace="~{fragments/fragments :: footer}"/>
</body>
</html>