<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show</title>
    <!-- style fragment -->
    <th:block th:replace="~{fragments/fragments :: style}"/> 
</head>
<body>
    <!-- header fragment-->
    <th:block th:replace="~{fragments/fragments :: header}"/>

    <main class="container m-auto" style="overflow-y: auto;">
        <div class="row d-flex justify-content-center">
            <div class="col d-flex justify-content-center" th:object="${film}">
                <!-- card -->
                <div class="mb-5 d-flex justify-content-center">
                    <img th:src="*{image}" class="card-img-top" alt="..." style="height: 30rem; width: 20rem; object-fit: cover;">
                    <div class="card-body" style="margin-left: 3rem;">
                      <h2 class="card-title mb-3" th:text="*{title}"></h2>
                      <p><strong>Author: </strong>[[*{author}]]</p>
                      <p><strong>Publication date: </strong>[[*{publicationDate}]]</p>
                      <p><strong>Description: </strong>[[*{description}]]</p>
                      <!-- categories -->
                      <p><strong>Categories: </strong>[[*{description}]]</p>
                            <!-- if category is present -->
                            <div th:if="${film.getCategories().size() > 0}">
                                <td>
                                    <ul>
                                        <li th:each="category : *{categories}">
                                            [[${category.name}]]
                                        </li>
                                    </ul>
                                </td>
                            </div>
                            <!-- if category isn't present -->
                            <div th:unless="${film.getCategories().size() > 0}">
                                <td>
                                    <p>This film hasn't category</p>
                                </td>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <!-- footer fragment-->
    <th:block th:replace="~{fragments/fragments :: footer}"/>
</body>
</html>